@import url("/html.merku.love/hosteller/css/error.min.css");
@import url("/html.merku.love/hosteller/css/error2.min.css");
@import url("/html.merku.love/hosteller/css/gallery.min.css");
@import url("/html.merku.love/hosteller/css/rooms.min.css");
@import url("/html.merku.love/hosteller/css/floatbutton.min.css");
@import url("/html.merku.love/hosteller/css/faq2.min.css");
@import url("/html.merku.love/hosteller/css/post.min.css");
@import url("/html.merku.love/hosteller/css/libs.min.css");
@import url("/html.merku.love/hosteller/css/contacts2.min.css");
@import url("/html.merku.love/hosteller/css/news.min.css");
@import url("/html.merku.love/hosteller/css/faq.min.css");
@import url("/html.merku.love/hosteller/css/room.min.css");
@import url("/html.merku.love/hosteller/css/icomoon.css");
@import url("/html.merku.love/hosteller/css/preload.min.css");
@import url("/html.merku.love/hosteller/css/about.min.css");
@import url("/html.merku.love/hosteller/css/contacts.min.css");
@import url("/html.merku.love/hosteller/css/index.min.css");
